<% provide :page_title, 'Questions' %> <!-- provide передает значение для конкретного yield -->
<% currently_at 'Questions' %>

<h1 class="mb-4">Questions</h1>

<section class="mb-5">
	<h2>Search by tags</h2>

	<%= form_with url: questions_path, method: :get do |f| %>
		<div class="mb-3">
			<%= f.collection_select :tag_ids, [], :id, :title, {selected: params[:tags_ids]},
				multiple: true, required: true, class: 'js-multiple-select', data: {'ajax-url': '/api/tags'} %>
		</div>

		<%= f.submit 'Submit', class: 'btn btn-primary' %>

	<% end %>
</section>

<%= link_to 'New question', new_question_path, class: 'btn btn-primary btn-lg mb-3' %>

<%== pagination @pagy %>

<%= render @questions %>

<%== pagination @pagy %>